body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rounded{
  width: 60%;
}

.rounded-circle{
  width: 40%;
}
.btn-primary{
  width: 30%;
  margin: 2% 5%;
}

.truck{
  margin: 3%;
}

.btn-warning{
  width: 40%;
}

.checked {
  color: orange;
}